In [1]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv(r"C:\Users\sudhanshu\Downloads\archive\olist_sellers_dataset.csv")

In [50]:
df.shape

(3095, 4)

In [51]:
df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [53]:
df.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [54]:
df.columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')

In [55]:
from sqlalchemy import create_engine

# connect to PostgerSQL
username = "postgres"
password = "25012004"
host = "localhost"
port = "5433"
database = "brazilian_E_commerce"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# load data frame into PostgerSQL
table_name = 'olist_sellers_dataset'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully loaded into '{table_name}' in database '{database}'.")

Data successfully loaded into 'olist_sellers_dataset' in database 'brazilian_E_commerce'.

In [48]:
# # Fill category name
# df['product_category_name'] = df['product_category_name'].fillna('unknown')

# # Photos missing â†’ 0
# df['product_photos_qty'] = df['product_photos_qty'].fillna(0)

# # Physical attributes: fill with median
# physical_col = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

# for col in physical_col:
#     df[col] = df[col].fillna(df[col].median())

In [37]:
# # convert to datetime
# date_col = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", 
#             "order_delivered_customer_date", "order_estimated_delivery_date"]
# for col in date_col:
#     df[col] = pd.to_datetime(df[col], errors="coerce")