In [1]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv(r"C:\Users\sudhanshu\Downloads\archive\olist_products_dataset.csv")

In [39]:
df.shape

(32951, 9)

In [40]:
df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [45]:
df.isnull().sum()

product_id                      0
product_category_name           0
product_name_lenght           610
product_description_lenght    610
product_photos_qty              0
product_weight_g                0
product_length_cm               0
product_height_cm               0
product_width_cm                0
dtype: int64

In [46]:
df.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [47]:
from sqlalchemy import create_engine

# connect to PostgerSQL
username = "postgres"
password = "25012004"
host = "localhost"
port = "5433"
database = "brazilian_E_commerce"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# load data frame into PostgerSQL
table_name = 'olist_products_dataset'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully loaded into '{table_name}' in database '{database}'.")

Data successfully loaded into 'olist_products_dataset' in database 'brazilian_E_commerce'.

In [48]:
# # Fill category name
# df['product_category_name'] = df['product_category_name'].fillna('unknown')

# # Photos missing â†’ 0
# df['product_photos_qty'] = df['product_photos_qty'].fillna(0)

# # Physical attributes: fill with median
# physical_col = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

# for col in physical_col:
#     df[col] = df[col].fillna(df[col].median())

In [37]:
# # convert to datetime
# date_col = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", 
#             "order_delivered_customer_date", "order_estimated_delivery_date"]
# for col in date_col:
#     df[col] = pd.to_datetime(df[col], errors="coerce")