In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv(r"C:\Users\sudhanshu\Downloads\archive\olist_order_reviews_dataset.csv")

In [19]:
df.shape

(99224, 7)

In [20]:
df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [22]:
df.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [23]:
df.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [17]:
from sqlalchemy import create_engine

# connect to PostgerSQL
username = "postgres"
password = "25012004"
host = "localhost"
port = "5433"
database = "brazilian_E_commerce"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# load data frame into PostgerSQL
table_name = 'olist_order_reviews_dataset'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully loaded into '{table_name}' in database '{database}'.")

Data successfully loaded into 'olist_order_payments_dataset' in database 'brazilian_E_commerce'.

In [9]:
# # Fill category name
# df['product_category_name'] = df['product_category_name'].fillna('unknown')

# # Photos missing → 0
# df['product_photos_qty'] = df['product_photos_qty'].fillna(0)

# # Physical attributes: fill with median
# physical_col = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

# for col in physical_col:
#     df[col] = df[col].fillna(df[col].median())

In [10]:
# # convert to datetime
# date_col = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", 
#             "order_delivered_customer_date", "order_estimated_delivery_date"]
# for col in date_col:
#     df[col] = pd.to_datetime(df[col], errors="coerce")