In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\sudhanshu\Downloads\archive\olist_geolocation_dataset.csv")

In [3]:
df.shape

(1000163, 5)

In [4]:
df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [6]:
df.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [7]:
df.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')

In [ ]:
from sqlalchemy import create_engine

# connect to PostgerSQL
username = "postgres"
password = "25012004"
host = "localhost"
port = "5433"
database = "brazilian_E_commerce"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# load data frame into PostgerSQL
table_name = 'olist_geolocation_dataset'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully loaded into '{table_name}' in database '{database}'.")

In [ ]:
# # Fill category name
# df['product_category_name'] = df['product_category_name'].fillna('unknown')

# # Photos missing â†’ 0
# df['product_photos_qty'] = df['product_photos_qty'].fillna(0)

# # Physical attributes: fill with median
# physical_col = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

# for col in physical_col:
#     df[col] = df[col].fillna(df[col].median())

In [ ]:
# # convert to datetime
# date_col = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", 
#             "order_delivered_customer_date", "order_estimated_delivery_date"]
# for col in date_col:
#     df[col] = pd.to_datetime(df[col], errors="coerce")